<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>01</key>
		<string>赤城山</string>
		<key>02</key>
		<string>群馬県前橋市富士見町赤城山</string>
		<key>03</key>
		<string>akagiyama.jpg</string>
		<key>04</key>
		<string>http://akagi-yama.jp/archives/27</string>
	</dict>
	<dict>
		<key>01</key>
		<string>ロックハート城</string>
		<key>02</key>
		<string>群馬県高山村5583-1 </string>
		<key>03</key>
		<string>rokkuha-tojyo.jpg</string>
		<key>04</key>
		<string>http://www.jrs-w.com/lock-heart/</string>
	</dict>
	<dict>
		<key>01</key>
		<string>赤城クローネンベルク</string>
		<key>02</key>
		<string>群馬県前橋市苗ケ島町2331</string>
		<key>03</key>
		<string>kuro-nennberuku.jpg</string>
		<key>04</key>
		<string>http://akagi-kronenberg.jp/</string>
	</dict>
	<dict>
		<key>01</key>
		<string>湯釜</string>
		<key>02</key>
		<string>群馬県草津町</string>
		<key>03</key>
		<string>yugama.jpg</string>
		<key>04</key>
		<string>http://www.kusatsu-onsen.ne.jp/cgi-bin/public/spot.cgi?id=16&amp;t=2&amp;c=2</string>
	</dict>
	<dict>
		<key>01</key>
		<string>榛名山</string>
		<key>02</key>
		<string>群馬県高崎市榛名湖町</string>
		<key>03</key>
		<string>haruna.jpg</string>
		<key>04</key>
		<string>http://www.tanigawadake-rw.com/haruna/</string>
	</dict>
	<dict>
		<key>01</key>
		<string>吹割の滝</string>
		<key>02</key>
		<string>群馬県沼田市追貝</string>
		<key>03</key>
		<string>hukiwarinotaki.jpg</string>
		<key>04</key>
		<string>http://www.city.numata.gunma.jp/tone/sightseeing/s_page01.htm</string>
	</dict>
	<dict>
		<key>01</key>
		<string>おもちゃと人形自動車博物館</string>
		<key>02</key>
		<string>群馬県吉岡町上野田2145</string>
		<key>03</key>
		<string>ikahoomotya.jpg</string>
		<key>04</key>
		<string>http://www.ikaho-omocha.jp/</string>
	</dict>
	<dict>
		<key>01</key>
		<string>群馬サファリパーク</string>
		<key>02</key>
		<string>群馬県富岡市岡本1</string>
		<key>03</key>
		<string>gunmasafari.jpg</string>
		<key>04</key>
		<string>http://www.safari.co.jp/</string>
	</dict>
	<dict>
		<key>01</key>
		<string>榛名湖</string>
		<key>02</key>
		<string>群馬県高崎市榛名湖町</string>
		<key>03</key>
		<string>harunako.jpg</string>
		<key>04</key>
		<string>http://www.mapple.net/byarea/0301110200.htm</string>
	</dict>
	<dict>
		<key>01</key>
		<string>群馬県立ぐんま天文台</string>
		<key>02</key>
		<string>群馬県高山村中山6860-86</string>
		<key>03</key>
		<string>gunmatenmondai.jpg</string>
		<key>04</key>
		<string>http://www.astron.pref.gunma.jp/</string>
	</dict>
	<dict>
		<key>01</key>
		<string>覚満淵</string>
		<key>02</key>
		<string>群馬県前橋市富士見町赤城山</string>
		<key>03</key>
		<string>kakumanbuti.jpg</string>
		<key>04</key>
		<string>http://akagi-yama.jp/archives/4695</string>
	</dict>
	<dict>
		<key>01</key>
		<string>鬼押出し園</string>
		<key>02</key>
		<string>群馬県嬬恋村鎌原1053</string>
		<key>03</key>
		<string>onidasikouen.jpg</string>
		<key>04</key>
		<string>http://www.princehotels.co.jp/amuse/onioshidashi/</string>
	</dict>
	<dict>
		<key>01</key>
		<string>軽井沢おもちゃ王国</string>
		<key>02</key>
		<string>群馬県嬬恋村大前細原2277</string>
		<key>03</key>
		<string>karuizawaomotya.jpg</string>
		<key>04</key>
		<string>http://www.omochaoukoku.com/karuizawa/</string>
	</dict>
</array>
</plist>
